.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  padding-right: 50px;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 35px !important;
  height: 35px;

  padding: 0 !important;
  background: transparent !important;
  color: #344054 !important;

  border: none;
  box-shadow: none !important;

  cursor: pointer;
}

.password-toggle:hover {
  transform: translateY(-50%);
  box-shadow: none !important;
}

.error-message {
  margin-top: 6px;
  color: #d92d20;
  font-size: 13px;
}